<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/header.css" />
      <link rel="stylesheet" href="/styles/admin-categories.css" />

      <title>Pharma+ | Admin</title>
   </head>
   <body>
      <header class="header">
         <span>Категорії</span>
         <div class="buttons">
            <button>Категорії</button>
            <button>Способи застосування</button>
            <button>Форми випуску</button>
         </div>
      </header>
      <% if (pharmacies.length === 0) { %>
      <p>No pharmacies available.</p>
      <% } else { %>
      <table class="table">
         <thead>
            <tr>
               <th>ID</th>
               <th>Назва</th>
               <th>Адреса</th>
               <th>Дії</th>
            </tr>
         </thead>
         <tbody>
            <% for (let i = 0; i < pharmacies.length; ++i) { %>
            <tr id="row-<%= pharmacies[i].pharmacy_id %>">
               <td><%= pharmacies[i].pharmacy_id %></td>
               <td id="label-<%= pharmacies[i].pharmacy_id %>">
                  <%= pharmacies[i].title %>
               </td>
               <td id="address-<%= pharmacies[i].pharmacy_id %>">
                  <%= pharmacies[i].address %>
               </td>
               <td>
                  <button
                     id="edit-btn-<%= pharmacies[i].pharmacy_id %>"
                     onclick="editPharmacy(<%= pharmacies[i].pharmacy_id %>)"
                  >
                     Редагувати
                  </button>
                  <button
                     onclick="deletePharmacy(<%= pharmacies[i].pharmacy_id %>)"
                  >
                     Видалити
                  </button>
               </td>
            </tr>
            <% } %>
            <tr>
               <td>#</td>
               <td>
                  <input
                     type="text"
                     data-js-label-input
                     placeholder="Назва категорії"
                  />
               </td>
               <td>
                  <input
                     type="text"
                     data-js-address-input
                     placeholder="Посилання на зображення"
                  />
               </td>
               <td><button onclick="addPharmacy()">Додати</button></td>
            </tr>
            <script
               type="module"
               src="./../../scripts/adminPharmacies.js"
            ></script>
         </tbody>
      </table>
      <% } %>
   </body>
</html>
