<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/admin-categories.css" />

      <title>Pharma+ | Admin</title>
   </head>
   <body>
      <% if (categories.length === 0) { %>
      <p>No categories available.</p>
      <% } else { %>
      <table class="table--categories">
         <thead>
            <tr>
               <th>ID</th>
               <th>Назва</th>
               <th>Зображення</th>
               <th>Дії</th>
            </tr>
         </thead>
         <tbody>
            <% for (let i = 0; i < categories.length; ++i) { %>
            <tr id="row-<%= categories[i].category_id %>">
               <td><%= categories[i].category_id %></td>
               <td id="label-<%= categories[i].category_id %>">
                  <%= categories[i].category_label %>
               </td>
               <td id="image-<%= categories[i].category_id %>">
                  <%= categories[i].category_image %>
               </td>
               <td>
                  <button
                     id="edit-btn-<%= categories[i].category_id %>"
                     onclick="editCategory(<%= categories[i].category_id %>)"
                  >
                     Редагувати
                  </button>
                  <button
                     onclick="deleteCategory(<%= categories[i].category_id %>)"
                  >
                     Видалити
                  </button>
               </td>
            </tr>
            <% } %>
            <tr>
               <td>#</td>
               <td>
                  <input
                     type="text"
                     data-js-label-input
                     placeholder="Назва категорії"
                  />
               </td>
               <td>
                  <input
                     type="text"
                     data-js-image-input
                     placeholder="Посилання на зображення"
                  />
               </td>
               <td><button onclick="addCategory()">Додати</button></td>
            </tr>
            <script
               type="module"
               src="./../../scripts/adminCategories.js"
            ></script>
         </tbody>
      </table>
      <% } %>
   </body>
</html>
