<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/header.css" />
      <link rel="stylesheet" href="/styles/admin-categories.css" />

      <title>Pharma+ | Admin</title>
   </head>
   <body>
      <header class="header">
         <span>Категорії</span>
         <div class="buttons">
            <button>Категорії</button>
            <button>Способи застосування</button>
            <button>Форми випуску</button>
         </div>
      </header>
      <% if (methods.length === 0) { %>
      <p>No methods available.</p>
      <% } else { %>
      <table class="table">
         <thead>
            <tr>
               <th>ID</th>
               <th>Назва</th>
               <th>Дії</th>
            </tr>
         </thead>
         <tbody>
            <% for (let i = 0; i < methods.length; ++i) { %>
            <tr id="row-<%= methods[i].application_methods_id %>">
               <td><%= methods[i].application_methods_id %></td>
               <td id="label-<%= methods[i].application_methods_id %>">
                  <%= methods[i].application_methods_label %>
               </td>
               <td>
                  <button
                     id="edit-btn-<%= methods[i].application_methods_id %>"
                     onclick="editMethod(<%= methods[i].application_methods_id %>)"
                  >
                     Редагувати
                  </button>
                  <button
                     onclick="deleteMethod(<%= methods[i].application_methods_id %>)"
                  >
                     Видалити
                  </button>
               </td>
            </tr>
            <% } %>
            <tr>
               <td>#</td>
               <td>
                  <input
                     type="text"
                     data-js-label-input
                     placeholder="Назва категорії"
                  />
               </td>
               <td><button onclick="addMethod()">Додати</button></td>
            </tr>
            <script
               type="module"
               src="./../../scripts/adminMethods.js"
            ></script>
         </tbody>
      </table>
      <% } %>
   </body>
</html>
