<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/header.css" />
      <link rel="stylesheet" href="/styles/admin-categories.css" />

      <title>Pharma+ | Admin</title>
   </head>
   <body>
      <header class="header">
         <span>Категорії</span>
         <div class="buttons">
            <button>Категорії</button>
            <button>Способи застосування</button>
            <button>Форми випуску</button>
         </div>
      </header>
      <% if (forms.length === 0) { %>
      <p>No forms available.</p>
      <% } else { %>
      <table class="table">
         <thead>
            <tr>
               <th>ID</th>
               <th>Назва</th>
               <th>Дії</th>
            </tr>
         </thead>
         <tbody>
            <% for (let i = 0; i < forms.length; ++i) { %>
            <tr id="row-<%= forms[i].form_id %>">
               <td><%= forms[i].form_id %></td>
               <td id="label-<%= forms[i].form_id %>">
                  <%= forms[i].form_label %>
               </td>
               <td>
                  <button
                     id="edit-btn-<%= forms[i].form_id %>"
                     onclick="editForm(<%= forms[i].form_id %>)"
                  >
                     Редагувати
                  </button>
                  <button onclick="deleteForm(<%= forms[i].form_id %>)">
                     Видалити
                  </button>
               </td>
            </tr>
            <% } %>
            <tr>
               <td>#</td>
               <td>
                  <input
                     type="text"
                     data-js-label-input
                     placeholder="Назва категорії"
                  />
               </td>
               <td><button onclick="addForm()">Додати</button></td>
            </tr>
            <script type="module" src="./../../scripts/adminForms.js"></script>
         </tbody>
      </table>
      <% } %>
   </body>
</html>
