div(data-js-product-card-large).product-card--large 
   div.product-card--large__gallery
      img(src=product.image, alt=product.title)
      img(src=product.image, alt=product.title)
      img(src=product.image, alt=product.title)
      img(src=product.image, alt=product.title)
      img(src=product.image, alt=product.title)
   h1.product-card--large__label= product.title
   button(data-js-product-card-button).product-card--large__check-price Сheck pharmacy prices